<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyecto2b">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto2B">
        <activity
            android:name=".AEditarUsuario"
            android:exported="true" />
        <activity
            android:name=".GRecyclerViewRestaurantsFav"
            android:exported="true" />
        <activity
            android:name=".GRecyclerViewTiendasFav"
            android:exported="true" />
        <activity
            android:name=".GRecyclerViewVuelos"
            android:exported="true" />
        <activity
            android:name=".AVueloDetalle"
            android:exported="true" />
        <activity
            android:name=".AUsuarioDetalle"
            android:exported="true" />
        <activity
            android:name=".ARegistro"
            android:exported="true" />
        <activity
            android:name=".GRecyclerViewTiendas"
            android:exported="true" />
        <activity
            android:name=".FRecyclerViewAdaptadorRestaurants"
            android:exported="true" />
        <activity
            android:name=".ATiendaDetalle"
            android:exported="true" />
        <activity android:name=".GRecyclerViewRestaurants" />
        <activity
            android:name=".ARestauranteDetalle"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>